@CHARSET "UTF-8";
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

/* flip the pane when hovered */
/* .flip-container:hover .flipper, .flip-container.hover .flipper {*/
.animate-flip {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.block-disp {
	display:block !important;
}

.tab-content {
	height: 1190px;
}